/bin/
/.classpath
/.DS_Store
/org.*
/.settings
/.project
.gradle
.m2

# Build output directies
/target
*/target
/build
*/build

# Eclipse specific files/directories
.classpath
.project
.settings
.metadata

